<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Platform Suite" parallel="methods" thread-count="5">
	<listeners>
		<listener class-name="listeners.TestNGListener" />
	</listeners>
	<test name="Glass Lewis">
		<classes>
			<class name="tests.VerifyCountryFilterTest" />
		</classes>
	</test> <!-- Test1 -->
</suite> <!-- Suite1 -->